<h1>Lista de Productos</h1>
<ul>

    {{#each product.docs }}
        <li>
            <strong>{{title}}</strong> - {{description}} - ${{price}} (Stock: {{stock}})
        </li>
        <a href="/api/products/{{_id}}">Ir al detalle del producto</a>
    {{/each}}
    
</ul>

<div>
  {{#if product.hasPrevPage}}
    <a href="{{product.prevLink}}">Página Anterior</a>
  {{/if}}
  <span>Página {{product.currentPage}} de {{product.totalPages}}</span>
  {{#if product.hasNextPage}}
    <a href="{{product.nextLink}}">Página Siguiente</a>
  {{/if}}
</div>