<h1>{{product.title}}</h1>

<p><strong>Descripción:</strong> {{product.description}}</p>
<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Categoría:</strong> {{product.category}}</p>
<p><strong>Stock:</strong> {{product.stock}}</p>
<p><strong>Disponible:</strong> {{#if product.status}}✅ Sí{{else}}❌ No{{/if}}</p>


<form>
  <button type="submit">Agregar al carrito</button>
</form>

<br />
<a href="/api/products">⬅️ Volver al listado</a>